
button{
    color:white;
    background-color: blue;
    margin:5px;
    padding:5px;
}

.Pending{
    background-color: red;
    color:white;
}
.Completed{
    color:white;
    background-color: green;
}
.todos{
    border:1px solid black;
    margin: auto;
    display:flex;
    margin:10px 400px;
}
.text{
    text-align: left;
}
.buttons{
    text-align: right;
}